repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3.14

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args:
          - "--max-line-length=100"
          - "--extend-ignore=E203,W503,E501"
          - "--exclude=.git,__pycache__,build,dist,*.egg-info"

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-PyYAML
          - types-requests
        args:
          - "--ignore-missing-imports"
          - "--python-version=3.10"
          - "--no-strict-optional"
          - "--warn-redundant-casts"
          - "--warn-unused-ignores"
        exclude: ^tests/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--enforce-all', '--maxkb=500']
        exclude: '^uv\.lock$'
      - id: check-toml
      - id: check-json
